.icon {
  stroke: black;
  vertical-align: middle;
}

.icon--apple {
  stroke: #f1aeaf;
}

.icon--cherry {
  stroke: #e55552;
}

.icon--orange {
  stroke: #ffc599;
}

.icon--peach {
  stroke: #e4a124;
}

.icon--pear {
  stroke: #cfdfac;
}
