@import '../bootstrap/variables';

.collapse-header {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0;
}

.collapse-header__content {
  margin-bottom: 0;
}

.collapse-header__icon {
  width: 1em;
}
